# Assignment3_2013136077윤유정

## 문제 1
+ L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [22]:
L = [1,2,3,4,5]

In [23]:
L[1:3] = [100]
print L

[1, 100, 4, 5]

> 이유 : L[2]와 L[3]을 두 개의 값을 포함하는 리스트를 정수 100 한 개의 값을 포함하는 리스트로 바꾸는 것과 같다.

In [24]:
L[1:3] = [(100)]
print L

[1, 100, 5]

> 이유 : L[2]와 L[3]을 두 개의 값을 포함하는 리스트를 100으로 바꾸는 것과 같다. ()안에 원소가 한 개만 있으면 원소의 타입과 같으므로 위의 문제와 같은 내용이다.

In [25]:
L[1:3] = 100
print L

TypeError: can only assign an iterable

> 이유 : 리스트 일부를 정수로 바꾸는 것과 같으므로 타입이 다르기 때문에 오류가 발생한다.

In [18]:
L[1:3] = (100)
print L

TypeError: can only assign an iterable

> 이유 : 리스트에 접근해 일부를 정수로 바꾸는 것인데 정수는 수치형 변수이기 때문에 리스트에 접근할 수 없어 오류가 발생한다

In [26]:
L[1:3] = (100, 101, 102)
print L

[1, 100, 101, 102]

> 이유 : 리스트에 접근해 일부분을 튜플로 바꾸는 것인데 튜플은 컨테이너형 변수이기 때문에 리스트에 접근할 수 없어 오류가 발생한다.

In [27]:
L[1:3] = [100, 101, 102]
print L

[1, 100, 101, 102, 102]

> 이유 : 리스트에 컨테이너형 변수인 리스트를 통해 접근했으므로 문제없다.

In [28]:
L[1:3] = [(100, 101, 102)]
print L

[1, (100, 101, 102), 102, 102]

> 이유 : L[1], L[2]의 위치에 튜플 (100,101,102)를 넣어준다. 리스트는 원소값으로 튜플을 가질 수 있다

In [30]:
L[1:3] = [[100, 101, 102]]
print L

[1, [100, 101, 102], 102]

> 이유 : L[1], L[2]의 위치에 리스트 [100,101,102]를 넣어준다. 리스트는 원소값으로 리스트를 가질 수 있다

## 문제 2
+ 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
    + 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
    + 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [67]:
S = 'Hello World and Python'

In [68]:
# 1
S = S[16:23] + S[11:15] + S[5:12] + S[:5]
print S

Python and World Hello

In [69]:
# 2
l = S.split()
S = ''.join(l)
print S

PythonandWorldHello

## 문제 3
+ 다음 코드를 보고 물음에 답하시오.
        a = [1, 2, 3]
        b = a * 3
        c = [a] * 3
        print b
        print c
    + 1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.
           a[0]=0
    + 2) b와 c 객체의 차이는 무엇인가?

In [47]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [71]:
a[0]=0
print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

> b는 원소를 복사한 것이고 c는 객체 자체를 복사한 것이다. 그렇기 때문에 a의 값을 변경했을 경우 c는 함께 변경되지만 b는 변경되지 않는다. is 를 사용해 확인해 볼 수 있다.

In [72]:
print a is b[0:3]
print a is c[0]

False
True

## 문제 4
+ 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)
        s = '  first star   :   second star   :    third star  '
        l = ['first star', 'second star', 'third star']
     + 1) for ~ in 문을 이용한 코드를 작성하시오.
     + 2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [62]:
s = '  first star   :   second star   :    third star  '

In [63]:
# 1
l = s.split(":")
for i in range(len(l)) :
    l[i]=l[i].strip()
print l

['first star', 'second star', 'third star']

In [65]:
# 2
l = s.split(":")
l = [l[i].strip() for i in range(len(l))]
print l

['first star', 'second star', 'third star']

## 문제 5
+ 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
    + 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
            >>> addall([1])
            1
            >>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
            45
    + 2) addallodd(list) 함수 (리스트 내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
            >>> addall([1])
            1
            >>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
            45
    + [참고]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)
    + [참고 2]: sum() 등의 내장함수 사용 가능함

In [85]:
# 1
def addall(l) :
    sum = 0
    for i in range(len(l)) :
        sum += l[i]
    return sum

print addall([1])
print addall([1, 2, 3, 4, 5, 6, 7, 8, 9])

1
45

In [86]:
def addall(l) :
    return sum([l[i] for i in range(len(l))])

print addall([1])
print addall([1, 2, 3, 4, 5, 6, 7, 8, 9])

1
45

In [88]:
# 2
def addallodd(l) :
    sum = 0
    for i in range(len(l)) :
        if(l[i] % 2 == 1) :
            sum += l[i]
    return sum

print addallodd([1])
print addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])

1
25

In [90]:
def addallodd(l) :
    return sum([l[i] for i in range(len(l)) if l[i]%2==1])

print addallodd([1])
print addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])

1
25

## 문제 6
+ 다음 코드를 보고 물음에 답하시오.

In [91]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print d
print e
print f
print
d['low'] = [10, 20, 30]
d['high'][1] = 500
print d
print e
print f

{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}

{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [1, 2, 3]}

+ 1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?
> 4번째 줄에서 e에 d의 객체를 복사했기 때문이다
+ 2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)
> shallow copy는 얕은 복사로 같은 객체를 공유하는 것이 아니라 객체를 복사하는 것이다. 이럴경우 원래의 객체와 생성된 객체는 값이 같을 뿐 별도의 객체이기 때문에 d를 수정해도 f는 변하지 않는다. 그러나 list의 인덱싱 되어진 값은 deep copy로 함께 공유하여 사용하기 때문에 d의 값을 수정하면 f에서도 변하게 된다.

## 문제 7
+ 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오
    + [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.
    + 1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
    + 2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
    + 3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
    + 4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [107]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
items = d.items()

In [108]:
# 1
items.sort()
print items

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]

In [109]:
# 2
items.sort()
items.reverse()
print items

[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]

In [111]:
def f(item):
    return item[1]

items.sort(key=f)
print items

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [112]:
def f(item):
    return item[1]

items.sort(key=f)
items.reverse()
print items

[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

## 문제 8
+ [프로젝트 오일러 문제 7] 소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.이 때 10,001번째의 소수를 구하세요.

In [48]:
import math

num=2
count=0

while count < 10001 :
    tmp = 0
    for i in range(1, int(math.sqrt(num))+1) : 
        if num%i == 0 :
            tmp += 1
    if tmp == 1 :
        count += 1
    num += 1
print num-1

104743

## 문제 9
+ [프로젝트 오일러 문제 8] 다음은 연속된 1000자리 숫자입니다 (읽기 좋게 50자리씩 잘라놓음). 맨 처음 (7 × 3 × 1 × 6 × 7 = 882) 부터 맨 끝 (6 × 3 × 4 × 5 × 0 = 0) 까지 5자리 숫자들의 곱을 구할 수 있습니다. 이렇게 구할 수 있는 5자리 숫자의 곱 중에서 가장 큰 값은 얼마입니까?

In [24]:
string = """
73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450
"""

l = string.split('\n')
num = ''.join(l)
print len(num)

1000

In [28]:
max = 0
def mult(x) :
    y = 1
    for i in range(x, x+5) :
        y *= int(num[i])
    return y

for i in range(0, 956) :
    if mult(i) > max :
        max = mult(i)
print max

40824

## 문제 10
+ [프로젝트 오일러 문제 9] 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
예를 들면 32 + 42 = 9 + 16 = 25 = 52이므로 3, 4, 5는 피타고라스 수입니다. a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이 때, a × b × c 는 얼마입니까?

In [37]:
for a in range(1,1001):
    for b in range(a,(1000-a)+1):
        c = 1000-(a+b)
        if(a**2 + b**2 == c**2) :
            print a*b*c

31875000

## 문제 11
+ [Incremental Project] 이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그 및 CSS와 Javascript를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.
    + 요구사항 1. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.
        + 예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']
        + 모든 punctuation을 확인하는 방법은 아래와 같다.
                import string
                print string.punctuation
    + 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.
        + 예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '지향']
    + 요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.
        + 예: ['world', 'hello', 'python', 'world', '컴퓨터공학부', '지향'] ---> {'world': 2, 'hello': 1, 'python': 1, '컴퓨터공학부': 1, '지향': 1}
    + 요구사항 4. 다음 3개의 사이트에 대한 결과를 출력하시오.
        + http://www.naver.com
        + http://www.daum.net
        + http://www.nytimes.com

In [78]:
# 기존 코드 수정
import urllib2

source = urllib2.urlopen("http://cse.kut.ac.kr/").read()

def FindText(source) :
    while(1) :
        if source.find('<!-') == -1 :
            break;
        source = source.replace(source[source.find('<!-'):source.find('->')+2:],'')

    while(1) :
        if source.find('<') == -1 :
            break;
        source = source.replace(source[source.find('<'):source.find('>')+1:],'')
    print "단어 수 : " + str(len(wordlist)) + "개"
    return source

source = FindText(urllib2.urlopen("http://cse.kut.ac.kr/").read())

단어 수 : 444개

In [81]:
# 요구사항 1
import string

def DeletePunctuation(source) :
    p = string.punctuation
    for i in range (len(p)):
        source= source.replace(p[i],"")
    return source
source = DeletePunctuation(source)

In [82]:
# 요구사항 2
wordlist = source.split()
for word in wordlist :
    print word,

컴퓨터공학부 Schoolfun Study and Fun 로그인 로그인 아이디 비밀번호 로그인 유지 브라우저를 닫더라도 로그인이 계속 유지될 수 있습니다 로그인 유지 기능을 사용할 경우 다음 접속부터는 로그인할 필요가 없습니다 단 게임방 학교 등 공공장소에서 이용 시 개인정보가 유출될 수 있으니 꼭 로그아웃을 해주세요 회원가입 IDPW 찾기 IT 교육의 글로벌 메카한국기술교육대학교 컴퓨터공학부 Close 소개 구성원소개 학사안내 입학 학부 대학원 학부광장 자료실 대학원 공학교육인증 학부서비스 Registration 컴퓨터공학부 School of Computer Science and Engineering IT 융합소프트웨어 인력양성사업 CK Creative KoreaI 교육역량강화사업 온라인 컨텐츠 Online Contents for Education Capability Empowerment IT 교육의 글로벌 메카 한국기술교육대학교 컴퓨터공학부 홈페이지에 오신 것을환영합니다 IT 융합소프트웨어 인력양성사업 글로벌 수준의 IT전문인력 양성 IT융합분야에 대한 국제적인 경쟁력 고취 바로가기 교육역량강화사업 컨텐츠 교육역량강화사업 온라인 컨텐츠를 소개합니다 바로가기 공지사항 특성화 『IT융합 대외활동 지원』수요조사 20161101 1412 1412 특성화 『IT융합 아이디어 경진대회』모집 공고공설 20161027 1131 1131 2016년 2학기 실험실 안전환경 정기교육 안내 20161026 0911 0911 161026수 HRD초청특강 안내 20161025 1617 1617 특성화 2016 IT Convergence 해커톤 대회 모집 공고 20161024 1001 1001 자유게시판 제3회 대구 사이버보안 컨퍼런스 개최 20161030 1704 1704 간식이벤트 공지입니다 20161019 1440 1440 졸업 작품 전시회 인기투표 시상 20161019 1223 1223 University codesprint by hackerrank 20161019 1143 1143 제 5회 레몬 정보보안 세미나 개최 20161012 1358 1358 취업게시판 세원정공 세원그룹대기업직무별 2016년 신입채용 20161101 0838 0838 대기업셀바스그룹신입공채SWHW개발 20161113일 20161101 0836 0836 펜타시스템 30기 공채 신입사원 모집119 20161026 1441 1441 주인스텍 대전금속 3D프린터연구개발 신입직원 모 20161024 1635 1635 서진씨엔에스주 충북IT분야 전문기업 신입사원 모 20161012 0957 0957 Platum 로보어드바이저 스타트업 ‘파운트’ 12억원 규모 프리 20161102 2203 2203 베인스 중국인 자유여행객 특화 다기능 교통카드 ‘고 20161102 1739 1739 “한국에는 1조 가치 스타트업 200개가 필요하다” 소프 20161102 1718 1718 딥테크 엑셀러레이터 블루포인트파트너스 ‘제 1회 데 20161102 1553 1553 34분기 신설법인 23406개 … 9월 6949개 생겨 20161102 1128 1128 전자신문 특별 기고사물인터넷 지능정보사회로의 연결고리 20161006 1800 1800 안전처 재난망 커버리지 100 묘수 찾았다 20161006 1800 1800 아이폰7 사전예약 열기 후끈 20161006 1602 1602 2016 국감최성준 요금할인 30 분리공시제 도입 신 20161006 1522 1522 10분기 연속 인터넷 속도 세계 1위 국가는 20161006 1443 1443 TechCrunch Microsoft Teams its new Slack rival is launc 20161102 2343 2343 Waterloo wows with demo of first working Hyper 20161102 2341 2341 Glide’s Apple Watch band has two cameras 20161102 2254 2254 Turner’s streaming service for film geeks Fil 20161102 2249 2249 Facebook slaps down Admiral’s plan to use soci 20161102 2247 2247 Quick Navigation 한국기술교육대학교 홈페이지 한국기술교육대학교 WEBMAIL 한국기술교육대학교 온라인 평생교육원 IT 융합소프트웨어 인력양성사업 컴퓨터공학부 교직원 업무 자료실 Campus Location Contact CSE 충청남도 천안시 동남구 병천면 충절로 1600한국기술교육대학교 컴퓨터공학부 학과사무실 TEL 041 560 1460 1461 FAX 041 560 1462 Facebook 31253 충청남도 천안시 동남구 병천면 충절로 1600 가전리 한국기술교육대학교 컴퓨터공학부 Copyright © 2015 All rights reserved

In [ ]:
# 요구사항 3

## 소감
 + 프로젝트 오일러 7번 문제에서 제곱급을 이용해 마지막 값을 정하는 경우, 2와 3은 제곱근을 정수로 취한값이 1이여서 range(2, 2)와 같은 상황이 되버린다. 그래서 이제까지는 2와 3이 소수라는 것을 바탕에 두고 코딩을 했는데 이번에 다른 방법을 생각해봤다. 변수를 하나 더 사용하는 방법말고는 딱히 생각이 안났다. 고민해봐야겠다.